{% extends "base.html" %}

{% block title %}AWS-EC2{% endblock %}

    {% block page_content %}
    <div class="alert alert-success alert-dismissible fade in">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        <strong>Welcome!</strong> Select an EC2 in the list below to see details! 
      </div>
    <h2>EC2 Instances</h2>
    <table class="table-hover" style="width:100%">
        <tr>
          <th>Name</th>
          <th>Instance Id</th>
          <th>Status</th>
          <th>Availability Zone</th>
          <th><form action= "{{ url_for('ec2_summary')}}"><input type='submit' value="Refresh"></th>
        </tr>
        {% for instance in template_instance_list %}
        <tr>
            <td>
                {% for tag in instance['Tags'] %}
                    {% if tag['Key'] == 'Name' %}
                        {{ tag['Value'] | title }}
                    {% endif %}
                {% endfor %}
            </td>
            <td><a href="{{ url_for('instance_details', instance_id=instance['InstanceId']) }}">{{ instance['InstanceId'] }}</a></td>
            <td>{{ instance['State']['Name'] | title}}</td>
            <td>{{ instance['Placement']['AvailabilityZone'] }}</td>
            <td><form action ="{{ url_for('ec2_stop', instance_id=instance['InstanceId']) }}" ><input type="submit" name="{{ instance['InstanceId'] }}" value="Stop"></form></td>
            <td><form action ="/start-instance/{{ instance['InstanceId'] }} " ><input type="submit" name="test" value="Start"></form></td>
            <p>{{ instance['InstanceId'] }}</p>
        </tr>
        {% endfor %}
      </table>
      {{ ec2_status }}
    {% endblock %}