<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AWS-Tool</title>
</head>
<style>
    table, th, td {
      border:2px solid black;
      text-align: center;
    }
</style>
<body>
    <h1>AWS EC2 Inventory</h1>
    <h2>EC2 Instances</h2>
    <table style="width:100%">
        <tr>
          <th>Name</th>
          <th>Instance Id</th>
          <th>Status</th>
          <th>Availability Zone</th>
        </tr>
        {% for instance in template_instance_list %}
        <tr>
            <td>{% for tag in instance['Tags'] %}
                {% if tag['Key'] == 'Name' %}
                    {{ tag['Value'] | title }}
                {% endif %}
                {% endfor %}
            </td>
            <td><a href="{{ url_for('instance_details', instance_id=instance['InstanceId']) }}">{{ instance['InstanceId'] }}</a></td>
            <td>{{ instance['State']['Name'] | title}}</td>
            <td>{{ instance['Placement']['AvailabilityZone'] }}</td>
        </tr>
        {% endfor %}
      </table>
</body>
</html>