{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block title %}AWS-Tools{% endblock %}

    {% block page_content %}
    <h1>AWS Credentials</h1>    
    <form class="form form-horizontal" method="post" role="form", button_map={}>

      {{ template_access_key_form.hidden_tag() }}
      {{ wtf.form_errors(template_access_key_form, hiddens="only") }}
      {{ wtf.form_field(template_access_key_form.access_key) }}
      {{ wtf.form_field(template_secret_access_key_form.secret_access_key) }}
      {{ wtf.form_field(template_region_form.region) }}
      {{ wtf.form_field(template_secret_access_key_form.submit) }}
      
    </form>
    <p>{{ aws_access_key }} : {{ aws_secret_access_key }} : {{ region }}</p>

    <h1>AWS Tools</h1>
    <div class="list-group">
        <a href="{{ url_for('ec2_summary') }}" class="list-group-item">EC2</a>
      </div>

      

    {% endblock %}